<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounting - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
</head>
<body>
    @{var menu = Html.EJ().Menu("MainMenu").Items(items =>
        {

            items.Add().Id("Home").Text("Home").Url("http://localhost:49642/#");

            items.Add().Id("Incomes").Text("Incomes").Url("http://localhost:49642/Income").Children(child =>
            {
                child.Add().Id("NewIncome").Text("New...").Url("http://localhost:49642/Income/New");
                child.Add().Id("IncomeReports").Text("Reports").Url("http://localhost:49642/Reporting/Income");
                child.Add().Id("IncomeType").Text("Income Types").Url("http://localhost:49642/IncomeTypes");
            });

            items.Add().Id("Invoices").Text("Invoices").Url("http://localhost:49642/Invoice").Children(child =>
            {
                child.Add().Id("NewInvoice").Text("New...").Url("http://localhost:49642/Invoice/New");
                child.Add().Id("InvoiceReports").Text("Reports").Url("http://localhost:49642/Reporting/Invoice");
                child.Add().Id("TaxType").Text("Taxes").Url("http://localhost:49642/TaxTypes");
                child.Add().Id("PlaceType").Text("Places").Url("http://localhost:49642/PlaceTypes");
                child.Add().Id("CostType").Text("Costs").Url("http://localhost:49642/CostTypes");


            });

            items.Add().Id("Accounts").Text("Accounts").Url("http://localhost:49642/Accounts").Children(child =>
            {
                child.Add().Id("Transfers").Text("Transfer").Url("http://localhost:49642/Transfers");
                child.Add().Id("People").Text("People").Url("http://localhost:49642/People");
                child.Add().Id("AccountTypes").Text("Account Types").Url("http://localhost:49642/AccountTypes");
            });
        });
    }

    @menu




    <H1>Accounting - @ViewBag.Title</H1>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("~/Scripts/ej/web/ej.web.all.min.js")
    @RenderSection("scripts", required: false)
    @Html.EJ().ScriptManager()

    @{if (ViewBag.Error != null)
        {
            <script type="text/javascript">
                alert("@ViewBag.Error");
            </script>
        }
    }
</body>
</html>

<script type="text/x=jsrender" id="EDButtons">
    <a class="btn-success" href="/{{:LinkName}}/Edit?id={{:Id}}">Edit</a>
    <a class="btn-danger" href="/{{:LinkName}}/Delete?id={{:Id}}">Delete</a>
</script>