@using Accounting.Models
@model VMPerson

@using (Html.BeginForm("Edit", "People", FormMethod.Post))
{

    @Html.HiddenFor(m => m.Accounts);

    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
    </div>

    <div>
        @Html.LabelFor(m => m.MiddleName)
        @Html.EditorFor(m => m.MiddleName)
    </div>

    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
    </div>

    <div>
        @Html.EJ().ColorPicker("picker")
    </div>

    <input type="submit" name="SaveButton" value="Save">
}